.cover {
    max-width: 1184px;
    width: 100%;
    max-height: 740px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: center url(../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
    .cover {
        max-height: 480px;
    }
}
